body{
    overflow: hidden;
}
   #header{
   
    height: 40px;
    }
        #header1{
            background: #273746;
            height: 100%;
        }

        #iconVue{
            color:  rgb(38, 189, 189);
            margin-top: 5px;
            height: 30px;
            
        }
        
        #header1 p{
            color: rgb(38, 189, 189);
            font-size: 16px;
            margin-top: 10px;
        }

        #header2{
            margin: 0px;
            padding: 0px;
            background: #FDFEFE;
            height: 100%;
            box-shadow: 1px 1px 4px #D5DBDB;
        }    
        #pnlUserLog{
            margin: 0px;
            padding: 0px;
        }

        #pnlUserLog h5{
                position: relative;
                margin-top: 14px;
                margin-left: 5px;
        }
        
        #userLog{
            margin-top: 8px;
            width: 27px;
            height: 27px;
            margin-left: 20px;
        }

        #listUserLog{
            cursor: pointer;
            margin-top: 9px;
            width: 23px;
            height: 23px;
            color: rgb(33, 162, 162);
        }


            #btnExpand{
                    cursor: pointer;
                    margin-top: 16px;
                    margin-left: 0px;
                    color: white;
                   
            }

    #nav{
        padding: 0%;
        background: #2C3E50;
        height: 100%;
        box-shadow: 1px 2px 4px #D5DBDB;
        
    }


                #nav ul{
                    padding: 0%;
                    margin: 0%;
                }

                #nav ul li {
                    cursor: pointer;
                    color: #B2BABB;
                    height: 40px;
                    transition: border 0.3s;
                }

                

                #nav ul li:hover{
                    color: white;
                    background: #273746;
                    border-left: 2px solid  rgb(38, 189, 189);
                    
                }

                .desaparecer{
                    margin-left: -55%;
                }

                #btnMenu{
                    border-radius: 0%;
                    background: #1E8449;
                    border-color: #1E8449;
                }

                #icon{
                    margin-top: 12px;
                }

                #palabra{
                    margin-top: 9px;
                }

                #arrowIcon{
                    margin-top: 13px;
                }
    #section{
        margin: 0%;
        padding: 0%;
        height: 88%;
    }
               #loading {
                    color: #85929E;
                    margin-left: 553px;
                }
                
                #gifOctopus{
                     margin-top: 220px;
                     margin-left: 485px;
                     width: 200px;
                     height: 150px;
                }

                #gifBull{
                    margin-top: 220px;
                     margin-left: 484px;
                     width: 200px;
                     height: 130px;
                }
                
                #pnlSpare{
                    
                    border-radius: 1%;
                    border: #00796B;
                    box-shadow: 1px 1px 4px #D5DBDB;
                }

                #pnlPatientsHead{
                    border-radius: 0%;
                    background: #00796B;
                    height: 30px;
                }



                #pnlPatientsHead i{
                    color: white;
                    
                }

                #pnlSparesBody{
                border-top: #00796B;
                height: 65px;
                
                }

                #pnlSparesBody #body1{
                    border-top: #00796B;
                    display: flex;
                    padding: 0%;
                
                }

                #pnlSparesBody #body1 button{
                    background: #45B39D;
                    border: #FDFEFE;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }

                #pnlSparesBody #body2{
                    padding: 0%;
                }

                #pnlSparesBody #body2 #filter{
                    display: flex;
                }

                #pnlSparesBody #body2 #filter span{
                    margin-top: 10px;
                    margin-right: 15px;
                    color: #34495E;
                } 



                #pnlSparesBody #body2 #search{
                    display: flex;

                }
                #pnlSparesBody #body2 #search input{
                    border-radius: 1px;

                }

                #pnlSparesBody #body2 button{
                    border: #FDFEFE;
                    background: #45B39D;
                    border-radius: 1px;
                    width: 60px;
                    box-shadow: 1px 1px 4px #D5DBDB;
                }

                #tbl{
                    margin-top: 10px;
                    width: 100%
                }

                #pnlMainSpares{
                margin: 15px;
                }

                #pnlTitleSpares{
                    border: #00796B;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #D5DBDB;
                    padding: 0%;
                    margin-bottom: 0%;
                }

                #t1 {
                    width: 140px;  
                }
                #t2{
                    width: 200px;
                }
                #t3{
                    width: 150px;
                }
                #t4{
                    width: 150px;
                }

                #pnlSpares{
                    border: #00796B;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #D5DBDB;
                    padding: 0%;
                    height: 70%;
                    overflow: auto;
                    position: relative;
                }

                #tableSpares{
                    padding: 0%;
                    margin: 0%;
                    width:100%;
                }

                #btn1{
                    border: #FDFEFE;
                    background: #45B39D;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }
                #btn2{
                    border: #FDFEFE;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }

                #btnA{
                    border: #FDFEFE;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }

                #btnB{
                    border: #FDFEFE;
                    background: #45B39D;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }

                #pnlBody{
                    padding: 0%;
                    overflow: auto;
                }

                #pnlClients{
                    height: 455px;
                    border: #00796B;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #D5DBDB;
                    padding: 0%;
                }

                #pnlDataPhone{
                    margin: 1px;
                    border-radius: 0%;
                    padding: 0px;
                    width: 552px;
                    height: 453px;
                }
                
                #pnlDataPhone h5{
                     margin-left: 7px;
                }
                
                #pnlDataPhone label{
                    margin-top: 10px;
               }

                #pnlDataPhone  input {
                   margin: 2px;
                }

                #pnlDataPhone #listPhonesClient {
                    padding: 0px;
                    margin-right: 13px;
                    margin-left: 14px;
                }

                #listRepairsClient{
                    padding: 0px;
                    margin: 1px;
                    margin-right: 13px;
                    margin-left: 14px;
                }

                #listRepairsClient hr{
                    margin: 0px;
                    padding: 0px;
                }
                #listRepairsClient form{
                    margin: 0px;
                    padding: 0px;
                }
                
                #listRepairsClient div{
                    margin-top: 3px;
                    padding: 0px;
                }
               
                #listRepairsClient input{
                    margin: 0px;
                }

                #inputDisplayDate{
                    width: 200px;
                }
                
                #lblDispalyPrice{
                    margin-right: 4px;
                }
                #inputDisplayPrice{
                    width: 157px;
                }
                #lblDisplayPartPrice{
                    margin-right: 13px;
                }
                #inputDisplayPartPrice{
                    width: 157px;
                }
                #lblDisplayBalance{
                    margin-right: 13px;
                    margin-left: 10px;
                }
                #inputDisplayBalance{
                    width: 157px;
                }

                #pnlDataPhone #listPhonesClient #tablePhones{
                    height: 220px;
                    border-radius: 0%;
                    overflow: auto;
                    padding: 5px;
                }

                #tablePhones td{
                    width: 10%;
                }

                #tablePhones td buttom{
                  margin-left: 5px;
                  border-radius: 1px;
                  box-shadow: 1px 1px 1px #B3B6B7;
                }
                
                /*#listPhonesClient{
                    padding: 0px;
                    margin: 0px;
                }*/

                #phoneHeader{
                    margin: 0%;
                    padding: 0px;
                }

               

                #pnlDataPhone #listPhonesClient button{
                    margin-left: 403px;
                    border: #FDFEFE;
                    background: #45B39D;
                    border-radius: 1px;
                    box-shadow: 1px 1px 4px #B3B6B7;
                }
                 
                /*#listRepairPhone{
                    margin-top: 1px;
                    margin-right: 13px;
                    margin-left: 14px;
                }*/
                
                /*#statePrice{
                    margin-top: 15px;
                    
                }*/

                /*#statePrice label{
                    margin-top: 20px;
                    
                }

                #statePrice input{
                    margin-top: 10px;
                    
                }*/

                #pnlRepairsPhone{
                  padding: 0px;
                  height: 90px;
                  overflow: auto;
                }

                #tdRepair{
                   width: 78%;
                }

                #tdButtons buttom{
                    margin-left: 4px;
                    border-radius: 1px;
                    box-shadow: 1px 1px 1px #B3B6B7;
                }
                
                /*style modal */
                #date label{
                    margin-right: 22px;
                }
                #nameClient label{
                    margin-right: 20px;
                }

                #nameClient input{
                    width: 496px;
                }
                #address input{
                    width: 496px;
                }
                #phoneRepairData #label1{
                    margin-right: 22px;
                }
                #phoneRepairData select{
                    width: 239px;
                }
                #priceRepair label{
                    margin-right: 22px;

                }
                #priceRepair input{ 
                    width: 183px;
                }
                
                
                #state label{
                    margin-right: 18px;
                }
                #state select{
                    width: 221px;
                }

                #pricePart #labelFee{
                    margin-right: 30px;
                }
                #pricePart input{
                    width: 183px;
                }


    #aside{
        background: #F8F9F9;
        margin: 0%;
        padding: 0%;
        height: 91%;
    }
#info{
    background:#52BE80;
    color:white;
    float: right;
    width: 30%;
    border: #FDFEFE;
    border-radius: 1px;
    box-shadow: 1px 1px 4px #B3B6B7;
}
 
#preventInfo{
    background:#F7DC6F;
    color:white;
    float: right;
    width: 30%;
    border: #FDFEFE;
    border-radius: 1px;
    box-shadow: 1px 1px 4px #B3B6B7;
}